<div class="mdl-grid">

	<div id="prefs-div-title" class="mdl-cell mdl-cell-12-col">
		<h2 class="mdl-card__title-text">Matches</h2>
	</div>

	<div id="card-holder"class="mdl-cell mdl-cell--10-col mdl-cell-7-col-tablet">

		<div id="browse-card" class="mdl-card mdl-shadow--4dp">
			
			<div id="browse-div-title" class="mdl-card__title">
				<h2 id="browse-name" class="mdl-card__title-text"><%= @current_user.fname %></h2>
			</div>

			<div id="browse-div-hero" class="mdl-card__supporting-text">
			</div>

			<div id="browse-div-cta">
				<span id="dislike-span">
					<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect browse-action-button">
						<i class="material-icons md-48">close</i>
					</button>
				</span>
				<span id="like-span">
					<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect browse-action-button">
						<i class="material-icons md-48">favorite border</i>
					</button>
				</span>
			</div>

		</div>

		<div id="browse-div-convert" class="mdl-cell mdl-cell-1-col">
			<a href="users/<%= @current_user.id %>/convert">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
					Okay, okay. What's the deal?
				</button>
			</a>
		</div>

	</div>
</div>

<div id="image-bank">
		<% @photos.each do |photo| %>
			<%= photo %>...
		<% end %>
</div>

<script type="text/javascript">

	var counter = 0;
	var heroDiv = $('#browse-div-hero');
	var imageBankRaw = $("#image-bank").html().split("...");
	var imageBank = []
	imageBankRaw.map(function(img){
		imageBank.push(img.trim());
	})
	imageBank.pop();
	var name = $('#browse-name').text();
	var template = "<img id='browse-hero-img' src='" + imageBank[counter] + "'>";
	var game = [name, name + " again", "still " + name, "Sup girl","<pours Courvoisier>", "I bet your mom is gorgeous", "How about we play a game", "It's called sex", "Yeah, a ZJ. It's when you...", "xoxo, " + name]


	var renderGame = function(name, array, counter){
		$('#browse-name').text(game[counter])
	}

	var renderHero = function(array, counter){
		heroDiv.html("");
		template = "<img id='browse-hero-img' src='" + array[counter] + "'>"
		heroDiv.html(template);
	};

	renderHero(imageBank, counter)

	$('.browse-action-button').click(function(){
		console.log("clicked")
		counter++;
		console.log(counter);
		renderHero(imageBank, counter);
		renderGame(name, game, counter);
	});
	
	if(counter == imageBank.length){
		counter = 0;
		$('#browse-div-convert').css("display", "block");
		renderHero(imageBank, counter);
	};

	// $.ajax({
	// 	url: "http://0b0a1ee4.ngrok.io/browse.json",
	// 	type: "GET",
	// 	dataType: "json"
	// }).done(function(images){
	// 	console.log(images)
	// 	counter = 0;
	// 	renderHero();
	// });

</script>


