<div class="mdl-grid">
	<div id="prefs-div-title" class="mdl-cell mdl-cell-12-col">
		<h2 class="mdl-card__title-text">You got got. Now get someone else!</h2>
	</div>
		<div class="mdl-cell mdl-cell--12-col mdl-cell-8-col-tablet">
			<p class="conversion-brief">EEEEEEEESH. Stings doesn't it?<br><br>I promise it will feel better after you roast someone else. <br>Get goin' chef, the coals are hot.</p>
		</div>
	<div id="prefs-div-cta-button" class="mdl-cell mdl-cell-1-col">
	<% if @demo == true %>
		<a href="/">
	<% else %>
		<a href="/users/<%= @current_user.id %>/photos">
	<% end %>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">Click here to get started</button>
		</a>
	</div>
</div>