<h1>Loading</h1>

<% if @current_user.admin? %>
	<a href='/users/<%= @current_user.referrer_id %>/share'>to Share</a>
<% else %>
	<a href='/users/<%= session[:referrer_id] %>/share'>to Share</a>
<% end %>

<i id="loading-icon-heart" class="material-icons md-48 pink-button">favorite</i>