<div class="mdl-grid">
	<div id="loading-div-loaders" class="mdl-cell mdl-cell-12-col">
		<i id="loading-icon-heart" class="material-icons md-48 pink-button loading-loaders">favorite</i>
		<div id="progress-bar-loader" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo loading-loaders"></div>
	</div>
	<div id="loading-cuties" class="mdl-cell mdl-cell-12-col">
		<h1>Curating Cuties Close By</h1>
	</div>
</div>

<script>

var $heart = $('#loading-icon-heart')

$(document).ready(function(){

	if($heart != undefined || $heart != null ){ 
		var intervalID = setInterval(function(){
			$heart.velocity(
				{scale: "+=50%"}, [500,20]
			);
		}, 1000);

		var intervalID2 = setInterval(function(){
			$heart.velocity(
				{scale: "-=50%"}, [500,20]
			);
		}, 1000);

	  var timeoutID = setTimeout(function(){
	    window.location.href="<%= @redirect_url %>";
	  }, 5000);

	};

})

</script>