<i id="loading-icon-heart" class="material-icons md-48 pink-button">favorite</i>

<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo"></div>

<h1>Finding Cuties Close By</h1>

<script>

var $heart = $('#loading-icon-heart')

$(document).ready(function(){

	if($heart != undefined || $heart != null ){ 
		var intervalID = setInterval(function(){
			$heart.velocity(
				{scale: "+=50%"}, [500,20]
			);
		}, 1000);

		var intervalID2 = setInterval(function(){
			$heart.velocity(
				{scale: "-=50%"}, [500,20]
			);
		}, 1000);
	  
	  var timeoutID = setTimeout(function(){
	    window.location.href="http://desolate-hamlet-2924.herokuapp.com/browse";
	  }, 5000);
	};

})

</script>