<i id="loading-icon-heart" class="material-icons md-48 pink-button">favorite</i>

<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo"></div>

<h1>Finding Cuties Close By</h1>