@import url(http://fonts.googleapis.com/css?family=Fredoka+One);

/* ----- global css ----- */
footer {
	width: 100%;
	bottom: 0;
}

#yield-wrapper {
	min-height: 600px;
	margin: auto;
}

.material-icons.pink-button {
	color: #df3e7d;
}

#bg-ribbon {
	width: 100%;
	height: 35vh;
	background-color: #3f51b5;
	flex-shrink: 0;
}

#main-content-grid {
	margin-top: -30vh;
}

/* ----- session#new ----- */
#main-logo {
	display: block;
	margin-top: 100px;
	margin-bottom: 0;
	font-size: 100px;
	text-align: center;
	font-family: "Fredoka One";
	background-color: #df3e7d;
	padding: 20px;
	border-radius: 2px;
}

#main-tagline {
	margin-top: 0;
}

#main-cta {
	text-align: center;
}

#main-cta-wrapper {
	text-align: center;
}

/* ----- users ----- */
#profile-card {
	margin-top: 40px;
	min-height: 450px;
}

#profile-div-title {
	height: 200px;
	background-color: #df3e7d;
	color: white;
}

#profile-div-cta {
	text-align: center;
}
