<h1>photos</h1>
<img src="<%=@photos.first%>">

<% if @user.viewer? %>
	<a href="/users/<%= @user.id %>/prefs">go to Prefs</a>
<% else %>
	<a href="/users/<%= @user.id %>/photos">go to Photos</a>
<% end %>

