<h1>prefs</h1>
<form>
	<input type="checkbox" name="type" value="sporty">Sporty<br>
	<input type="checkbox" name="type" value="nerdy">Nerdy<br>
	<input type="checkbox" name="type" value="hotty">Hotty<br>
	<input type="checkbox" name="type" value="notty">Notty<br>
<form>
<button><a href="/users/loading">go to Loading</a></button>
