<h1 id="main-logo">luvmatch.me</h1>
<h3 id="main-tagline">the greatest fucking dating app ever</h3>
<h4 id="main-cta">Your dreamboat awaits</h4>
<div id="main-cta-wrapper">
	<a href="<%= @auth_url %>">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
			Login with Facebook
	</button>
	</a>
	<a href="http://www.seamless.com">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
		Be Single Forever
	</button>
	</a>
</div>

