<h1>profile</h1>

<!-- link helper for user object -->
<!-- temporary data render -->
<p>Look good?</p>
<p><%= @user['first_name'] %></p>
<p><%= @user['location'] %></p>
<p><%= @user['gender'] %></p>

<!-- ajax: post route, methodoverride, to update -->
<button>Update my changes</button>

<!-- ajax: get route -->
<button>Go Straight to Match Criteria</button>